    /* general */
    :root {
        --fg-color: #FFCDD3;
        --bg-color: #702548;
        --bg-green-color: #435937;
        --bg-heavenly-color: #678FAA;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* columns */
    .container {
        width: 100%;
        max-width: 1200px;
        /* Adjust this value based on your design */
        margin: 0 auto;
        box-sizing: border-box;

    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .col {
        box-sizing: border-box;
        float: left;
    }

    /* Define the grid columns */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .custom-divider {
        border: none;
        /* Rimuove il bordo predefinito del divisore */
        height: 1px;
        /* Altezza del divisore */
        background-color: #333;
        /* Colore del divisore */
        margin: 20px 0px 90px;
        /* Spaziatura sopra e sotto il divisore */
    }

    .custom-divider-disco {
        border: none;
        /* Rimuove il bordo predefinito del divisore */
        height: 1px;
        /* Altezza del divisore */
        background-color: #333;
        /* Colore del divisore */
        margin: 0px 0px 190px;
        /* Spaziatura sopra e sotto il divisore */
        transform: rotate(90deg);
        /* Ruota il divisore di 180 gradi */
        transform-origin: 5% 0%;
        /* Imposta l'origine della trasformazione nell'angolo in alto a sinistra */
    }


    .album {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    ol li::marker {
        color: var(--bg-color);
        font-size: 32px;
        font-weight: bolder;
    }

    body {
        font-family: 'Montserrat', sans-serif;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: 0.2s;
    }

    ul {
        list-style-type: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0px 24px;
    }

    .center {
        text-align: center;
    }

    .margin-vertical-100 {
        margin: 100px 0px;
    }

    header,
    footer {
        background-color: var(--bg-color);
        color: var(--fg-color);
    }

    header.crybaby {
        background-color: var(--fg-color);
        color: var(--bg-color);
    }

    header.k-12 {
        background-color: var(--bg-heavenly-color);
    }

    header.portals {
        background-color: var(--bg-green-color);
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav a.nav-logo svg {
        fill: var(--fg-color);
        width: 160px;
        display: block;
    }

    header.crybaby nav a.nav-logo svg {
        fill: var(--bg-color);
    }

    header nav ul li {
        display: inline-block;
    }

    header nav ul li a.nav-link {
        font-size: 15px;
        font-weight: 500;
        padding: 24px 0px;
        display: inline-block;
        margin-left: 40px;
    }

    .mini-space {
        margin-left: 5px;
    }

    header nav svg.arrow {
        fill: var(--fg-color);
    }

    header.crybaby nav svg.arrow {
        fill: var(--bg-color);
    }

    header nav ul li.dropdown {
        cursor: pointer;
        position: relative;
        perspective: 1000px;
        z-index: 100;
    }

    header nav ul li.nav-item>a {
        display: flex;
        align-items: center;
    }

    header nav ul li a.nav-link:hover,
    header nav ul li.dropdown:hover,
    header nav ul li.nav-item:hover>a svg {
        color: #ffffff;
        fill: #ffffff;
    }

    .dropdown:hover .dropdown-menu li {
        display: block;
        width: 200px;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 40px;
        width: 100%;
        perspective: 1000px;
        z-index: -1;
    }

    .dropdown-menu li {
        display: none;
        color: var(--fg-color);
        background-color: var(--bg-color);
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 500;
        opacity: 0;
    }

    .dropdown-menu li:hover {
        background-color: var(--fg-color);
        color: var(--bg-color);
    }

    .dropdown:hover .dropdown-menu--animated {
        display: block;
    }

    .dropdown-menu--animated {
        display: none;
    }

    .dropdown-menu--animated li {
        display: block;
        opacity: 1;
    }

    .dropdown-menu .dropdown-item-1 {
        transform-origin: top center;
        animation: scaleZ 300ms 60ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-2 {
        transform-origin: top center;
        animation: scaleZ 300ms 120ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-3 {
        transform-origin: top center;
        animation: scaleZ 300ms 180ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-4 {
        transform-origin: top center;
        animation: scaleZ 300ms 240ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-5 {
        transform-origin: top center;
        animation: scaleZ 300ms 300ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-1 {
        transform-origin: top center;
        animation: scaleZ 300ms 60ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-2 {
        transform-origin: top center;
        animation: scaleZ 300ms 120ms ease-in-out forwards;
    }

    .dropdown-menu .dropdown-item-3 {
        transform-origin: top center;
        animation: scaleZ 300ms 180ms ease-in-out forwards;
    }

    @-moz-keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-webkit-keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-o-keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-moz-keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-webkit-keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-o-keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes scaleZ {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    button {
        transition: transform 0.3s;
    }

    button svg {
        fill: var(--fg-color);
        height: 64px;
        width: 56px;
        transform: rotate(0deg);
        margin: auto !important;
    }

    button.active {
        transform: rotate(90deg);
    }

    .sidenav {
        width: 100%;
        height: 0;
        max-height: 100%;
        position: fixed;
        z-index: 1;
        top: 72.2px;
        left: 0;
        background-color: var(--bg-color);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .sidenav>a,
    .sidenav details {
        padding: 24px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        color: var(--fg-color);
        display: block;
        transition: 0.3s;
    }

    .sidenav details ul li {
        display: block;
        padding: 12px;
    }

    .sidenav details ul li a {
        font-size: 18px;
    }

    .sidenav details>summary {
        list-style: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidenav details>summary::-webkit-details-marker {
        display: none;
    }

    .sidenav a:hover {
        color: #FFFFFF;
    }


    /* banner */
    picture img {
        width: 100%;
        display: block;
    }


    h1 {
        color: var(--bg-color);
        font-size: 40px;
        margin-top: 100px;
    }

    .subtitle {
        color: #000000;
        font-size: 24px;
        font-style: italic;
    }

    .description {
        font-size: 24px;
    }

    .bolder {
        font-weight: bolder;
    }


    footer {
        padding: 24px 0px;
    }

    footer.crybaby {
        background-color: var(--fg-color);
        color: var(--bg-color);
    }

    footer.k-12 {
        background-color: var(--bg-heavenly-color);
    }

    footer.portals {
        background-color: var(--bg-green-color);
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrp-item:nth-child(1) li {
        display: inline-block;
        margin-right: 50px;
    }

    .wrp-item li a:hover {
        color: #FFFFFF;
    }

    ul.wrp-item:nth-child(2) li {
        display: inline-block;
        margin-left: 25px;
    }

    ul.wrp-item:nth-child(2) li svg {
        height: 48px;
        width: 42px;
        fill: var(--fg-color);
        transition: 0.2s;
    }

    ul.wrp-item:nth-child(2) li a:hover>svg {
        fill: #FFFFFF;
    }



    /* modalità responsive */
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        header {
            padding: 12px 0px;
        }

        header nav ul.nav-list {
            display: none;
        }

        header nav button {
            display: block;
        }

        .arrow {
            height: 48px;
            width: 48px;
        }

        h1 {
            font-size: 20px;
        }

        /* footer */
        .wrp-item:nth-child(1) li {
            margin-bottom: 25px;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {

        header {
            padding: 12px 0px;
        }

        header nav ul.nav-list {
            display: none;
        }

        header nav button {
            display: block;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        header {
            padding: 12px 0px;
        }

        header nav ul.nav-list {
            display: none;
        }

        header nav button {
            display: block;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {

        header {
            padding: 0;
        }

        header nav ul.nav-list {
            display: block;
        }

        header nav button {
            display: none;
        }

        .arrow {
            height: 24px;
            width: 24px;
        }

        h1 {
            font-size: 40px;
        }
    }